@font-face {
    font-family: 'Font1';
    src: url("../fonts/rumeur.otf") format('truetype');
}

/* Köşeli yazı fontu */
@font-face {
    font-family: 'Font2';
    src: url("../fonts/basier-circle-medium.otf") format('truetype');
}

@font-face {
    font-family: 'Font3';
    src: url("../fonts/basier-circle-regular.otf") format('truetype');
}

@font-face {
    font-family: 'Font4';
    src: url("../fonts/basier-circle-regular-italic.otf") format('truetype');
}


