.tshirt {
    background-color: #F2F3EF;
}

.tshirt-top-promo {
    background-color: #D9DBCE;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

.tshirt-card {
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 6rem;
    margin-top: 7rem;
    margin-bottom: -26rem;

}

.tshirt-image {
    width: 60%;
    margin-bottom: 20rem;
    margin-left: 2rem;
    max-height: 30%;
    margin-top: 3rem;
}

.tshirt-info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    /* Metni üste hizalar */
    align-items: flex-start;
    /* Metni sola hizalar */
    width: 40%;
    /* Metin alanı genişliği */
    padding-left: 20px;
    /* Metin ve resim arasındaki boşluk */
    max-height: 40%;
    margin-left: 2rem;
}

.product {
    font-size: 0.8em;
    /* Font boyutunu küçültür */
    margin-right: 20px;
    /* Metinler arasında boşluk bırakır */
    display: inline-block;
    /* Metinleri yan yana getirir */
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #9a9a98;
}

.size-txt {
    font-size: 0.8em;
    margin-left: 2px;
    margin-right: 20px;
    color: #9a9a98;
}

.size {
    font-size: 1.5em;
    display: inline-block;
    margin-top: 5px;
    color: black;
    padding: 20px;
    margin-left: -1rem;
}

.tshirt-hover-overlay .dot {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tshirt-hover-overlay .in-dot {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
}

.price-button-container {
    display: flex;
    justify-content: space-between;
    /* Fiyatı ve butonu yan yana getirir */
    width: 100%;
    /* Konteyner genişliği */
    margin-top: 11rem;
    /* Üstten boşluk ekler */
}

.price-button-container span {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    padding: 0;
    white-space: nowrap;
    background-color: #e6e7df;
    font-size: large;
}

.price-button-container button {
    position: relative;
    width: 100%;
    /* Genişlik */
    height: 60px;
    /* Yükseklik */
    color: #fcfcfc;
    float: left;
    background-color: #00d8c1;
    text-align: center;
    /* Yazıyı yatay olarak ortalar */
    display: flex;
    /* Flexbox kullanır */
    justify-content: center;
    /* Yazıyı yatay olarak ortalar */
    align-items: center;
    /* Yazıyı dikey olarak ortalar */
    font-size: large;
}

.content p {
    font-size: 16px;
    /* Metin boyutu */
    color: #333;
    /* Metin rengi */
    padding: 8px 16px;
    /* İç boşluk */
    border-bottom: 1px solid #ddd;
    /* Alt çizgi */
    position: relative;
    /* Pozisyon ayarı */
    margin-top: 2rem;
}

.content p::after {
    content: '+';
    /* Sağ taraftaki artı işareti */
    position: absolute;
    right: 10px;
    /* Sağdan boşluk */
    top: 50%;
    /* Üstten konumlandırma */
    transform: translateY(-50%);
    /* Dikey ortalamak için */
}

.content p:last-child {
    border-bottom: none;
    /* Son elemanın alt çizgisini kaldır */
}

.tshirt-hover-overlay .txt {
    margin-top: 10px;
}

.tshirt-info h1 {
    margin-top: 4rem;
    margin-left: 2rem;
}

.footer {
    padding-top: 30rem !important;
}

.tshirt-hover-overlay{
    text-align: left;
    margin-left: 2rem;
}